* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.container_ext {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
}

header {
    width: 100%;
    height: 20%;
    background-color: yellow;
}

.container_int {
    width: 100%;
    height: 70%;
    background-color: grey;
    padding: 10px;
}

section.left, section.right {
    width: 30%;
    height: 100%;
    padding: 10px;
    float: left;
}

section.center {
    width: 40%;
    height: 100%;
    padding: 10px;
    float:left;
}

.left aside, .right aside {
    height: 100%;
    width: 100%;
    background-color: pink;
}

.center main {
    height: 100%;
    width: 100%;
    background-color: purple;
}







footer {
    height: 10%;
    background-color: lightblue;
}
